.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    margin-right: 500px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
}

.header-nav {
}

.header-nav__item {
}

.header-nav__link {
    text-decoration: none;
    color: #fff;
}
